


  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="clearfix colelem" id="pu2918"><!-- group -->
     <img class="se_invi pre_init" id="u2918" src="/assets/daisy-u2918.png" alt="" width="105" height="105"/><!-- rasterized frame -->
     <img class="se_invi pre_init" id="u2852" src="/assets/purplecherub12-u2852.png" alt="" width="412" height="461"/><!-- rasterized frame -->
     <img class="se_invi" id="u1746" src="/assets/notecard2-u1746.png" alt="" width="494" height="364"/><!-- rasterized frame -->
     <img class="se_invi pre_init" id="u2830" src="/assets/cherub12-u2830.png" alt="" width="521" height="539"/><!-- rasterized frame -->
     <img class="se_invi pre_init" id="u2924" src="/assets/daisy-u2924.png" alt="" width="105" height="105"/><!-- rasterized frame -->
    </div>
    <div class="clearfix colelem" id="pu2875"><!-- group -->
     <div class="clip_frame grpelem" id="u2875"><!-- image -->
      <img class="block" id="u2875_img" src="/assets/6588041%20copy-u2875.jpg" alt="" width="1181" height="793"/>
     </div>
     <a class="nonblock nontext anim_swing clearfix grpelem" id="u2882-14" href="index.html#home"><!-- content --><p><span id="u2882">F</span><span id="u2882-2">oo</span>d<span id="u2882-4">&nbsp;</span><span id="u2882-5">F</span><span id="u2882-6">o</span><span id="u2882-7">r</span><span id="u2882-8">G</span><span id="u2882-9">i</span><span id="u2882-10">v</span>e</p></a>
     <div class="shadow clip_frame grpelem" id="u2689"><!-- image -->
      <img class="block" id="u2689_img" src="/assets/pink-background-radial.jpg" alt="" width="1180" height="770"/>
     </div>
     <div class="clearfix grpelem" id="u3562-4"><!-- content -->
      <p>TM</p>
     </div>
     <div class="clearfix grpelem" id="u3407-4"><!-- content -->
     	<p>Giving is part of ForGiving.</p><br>
     	<p>Food ForGive can forgive any kind of food transgressions, lapses in judgment, or moments of bacchanalian food insanity. Our Confession Cherubs<span id="tm_span">TM</span> lift your confessions to the Divine who, in turn, offers encouragement so that you can declare,"I'm moving on -- mmmkay."
        </p><br>
        <p>In the near future, Food ForGive hopes to provide options for you to donate a few dollars to a local food bank. The ultimate, morale-boosting goal of Food ForGive is not only to provide food forgiveness, but also to provide food for give to people and hungry kids in need. Can we get two snaps and a hey?
        </p><br>
        <p>Thank you. Peace! And Love.</p>
     </div>
     <div class="clearfix grpelem" id="u2502"><!-- group -->
      <img class="grpelem" id="u2503" src="/assets/plate-u2503.png" alt="" width="541" height="536"/><!-- rasterized frame -->
      <img class="grpelem" id="u2505" src="/assets/plate%202-u2505.png" alt="" width="644" height="644"/><!-- rasterized frame -->
     </div>
     <div class="clearfix grpelem" id="u1914"><!-- group -->
      <div class="clip_frame grpelem" id="u1810"><!-- image -->
       <img class="block" id="u1810_img" src="/assets/plate.png" alt="" width="529" height="524"/>
      </div>
      <img class="grpelem" id="u1908" src="/assets/plate%202-u1908.png" alt="" width="635" height="635"/><!-- rasterized frame -->
     </div>
     <div class="clip_frame grpelem" id="u2558" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0.9925,M12=0.1219,M21=-0.1219,M22=0.9925,SizingMethod='auto expand')" data-mu-ie-matrix-dx="-37" data-mu-ie-matrix-dy="-5"><!-- image -->
      <img class="block" id="u2558_img" src="/assets/fork%202.png" alt="" width="116" height="608"/>
     </div>
     <div class="clip_frame grpelem" id="u2564" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0.9925,M12=0.1219,M21=-0.1219,M22=0.9925,SizingMethod='auto expand')" data-mu-ie-matrix-dx="-33" data-mu-ie-matrix-dy="-4"><!-- image -->
      <img class="block" id="u2564_img" src="/assets/fork%202.png" alt="" width="104" height="544"/>
     </div>
     <div class="clip_frame grpelem" id="u2567" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0.9816,M12=-0.1908,M21=0.1908,M22=0.9816,SizingMethod='auto expand')" data-mu-ie-matrix-dx="-59" data-mu-ie-matrix-dy="-5"><!-- image -->
      <img class="block" id="u2567_img" src="/assets/knife.png" alt="" width="109" height="626"/>
     </div>
     <img class="grpelem" id="u3190" src="/assets/youtube-u3190.png" alt="" width="54" height="61"/><!-- rasterized frame -->
     <img class="grpelem" id="u3228" src="/assets/pinterest-u3228.png" alt="" width="54" height="61"/><!-- rasterized frame -->
     <img class="grpelem" id="u3200" src="/assets/twitter2-u3200.png" alt="" width="54" height="61"/><!-- rasterized frame -->
     <img class="grpelem" id="u3173" src="/assets/facebook-u3173.png" alt="" width="54" height="61"/><!-- rasterized frame -->
     <img class="grpelem" id="u3398" src="/assets/google-logo-u3398.png" alt="" width="58" height="65"/><!-- rasterized frame -->
    	<div class="clip_frame clearfix grpelem" id="u3743"><!-- image -->	    </div>
       
        <div class="clearfix grpelem" id="u3568-4"><!-- content ---TIES TO HEADER/TITLE -->  </div>
	    <div class="grpelem" id="u3761"><!-- simple frame --></div>
	   
	     
	    <%= form_for(@confession, remote: true) do |f| %>
 	 	<% if @confession.errors.any? %>
   	 	<div id="error_explanation">
      	<h2><%= pluralize(@confession.errors.count, "error") %> - Sorry!  This made the confession not record.  The Food ForGive team will be right on it, so come back soon!</h2>

     	 <ul>
      	<% @confession.errors.full_messages.each do |msg| %>
      	  <li><%= msg %></li>
      	<% end %>
     	 </ul>
    	</div>
  		<% end %>
  		
	     
	   
	     <div class="clearfix grpelem" id="u1808-6"><!-- content -->
	     
	     <div id="magic-response">
	     	
	     <!--<p id="tiny-response">What do you feel guilty for eating? Come on, it's ok...</p> <br>-->

	     <div id="confess_field" class="field"> <%= f.text_field :confession_text, 	     						

	     						:value => "", 
	     						:placeholder => "Please enter a food confession...",
	     						:id => "confess_text_field"  %> </div>
	     <br>
	     
         <div class="actions", id="submit_confession">
	     <%= f.submit "Forgive Yourself", :id => "confess_submit" %>
	     </div>
	       
	     </div>
	    
	     <br>
	     <div id="magic-fail"></div> 
	     </div>
	     	      	
	     <!-- <div id="u3743_clip">
	      <div class="actions", id="submit_confession">
	           <%= f.submit "Forgive Yourself", :id => "confess_submit" %>
	       </div>
	       <img class="position_content" id="u3743_img" src="/assets/pink%20button.png" alt="" width="80" height="21"/>	       
	     </div>-->
       
     <% end %>
     
     <div class="clip_frame grpelem" id="u1748"><!-- image -->
      <img class="block" id="u1748_img" src="/assets/topornament.jpg" alt="" width="215" height="23"/>
     </div>
     <div class="clip_frame grpelem" id="u1796" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="0"><!-- image -->
      <img class="block" id="u1796_img" src="/assets/topornament.jpg" alt="" width="197" height="19"/>
     </div>
     <div class="clearfix grpelem" id="u1750-14"><!-- content -->
      <p><span id="u1750">F</span><span id="u1750-2">oo</span>d<span id="u1750-4">&nbsp;</span><span id="u1750-5">F</span><span id="u1750-6">o</span><span id="u1750-7">r</span><span id="u1750-8">G</span><span id="u1750-9">i</span><span id="u1750-10">v</span>e</p>
     </div>
     <a class="anchor_item grpelem" id="home"></a>
     <a class="anchor_item grpelem" id="about"></a>
     <div class="clearfix grpelem" id="u3555-4"><!-- content -->
      <p>TM</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu3541-3"><!-- group -->
     <div class="clearfix grpelem" id="u3541-3"><!-- content -->
      <p>&nbsp;</p>
     </div>
     <img class="grpelem" id="u2855" src="/assets/hires-u2855.png" alt="" width="1190" height="828"/><!-- rasterized frame -->
     <div class="clip_frame clearfix pre_init grpelem" id="u2822"><!-- image -->
      <div id="u2822_clip">
       <img class="position_content" id="u2822_img" src="/assets/pink-background-radial.jpg" alt="" width="1281" height="812"/>
      </div>
     </div>
     <a class="anchor_item grpelem" id="contact"></a>
    </div>
    <div class="clearfix colelem" id="pu2908"><!-- group -->
     <img class="se_invi" id="u2908" src="/assets/contactboard-u2908.png" alt="" width="561" height="75"/><!-- rasterized frame -->
     <a class="nonblock nontext anim_swing clearfix se_invi" id="u2915-16" href="index.html#home"><!-- content --><p id="u2915-2">Contact</p><p id="u2915-14"><span id="u2915-3">F</span><span id="u2915-4">oo</span><span id="u2915-5">d</span><span id="u2915-6">&nbsp;</span><span id="u2915-7">F</span><span id="u2915-8">o</span><span id="u2915-9">r</span><span id="u2915-10">G</span><span id="u2915-11">i</span><span id="u2915-12">v</span><span id="u2915-13">e</span></p></a>
    </div>
    <div class="clearfix colelem" id="pu3526"><!-- group -->
     <img class="grpelem" id="u3526" src="/assets/facebook-u3526.png" alt="" width="54" height="61"/><!-- rasterized frame -->
     <img class="grpelem" id="u3524" src="/assets/twitter2-u3524.png" alt="" width="54" height="61"/><!-- rasterized frame -->
     <img class="grpelem" id="u3522" src="/assets/pinterest-u3522.png" alt="" width="54" height="61"/><!-- rasterized frame -->
     <img class="grpelem" id="u3528" src="/assets/google-logo-u3528.png" alt="" width="58" height="65"/><!-- rasterized frame -->
     <img class="grpelem" id="u3518" src="/assets/youtube-u3518.png" alt="" width="54" height="61"/><!-- rasterized frame -->
    </div>
    <a class="nonblock nontext clip_frame colelem" id="u3542" href="http://www.linkedin.com/pub/ryan-handerhan/61/936/10"><!-- image --><img class="block" id="u3542_img" src="/assets/r%20h%20-%20r%20h.png" alt="" width="107" height="21"/></a>
    <div class="clearfix colelem" id="pu3563-6"><!-- group -->
     <div class="clearfix grpelem" id="u3563-6"><!-- content -->
      <p>TRADEMARKS</p>
      <p>Food Forgive are trademarks owned by RH&amp;RH. Such trademarks may not be used in connection with any products or services that are not controlled by RH&amp;RH, or in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits RH&amp;RH or FoodForGive.com.</p>
     </div>
     <div class="clearfix grpelem" id="u3564-6"><!-- content -->
      <p id="u3564-2">LIABILITY DISCLAIMER</p>
      <p id="u3564-4"><span id="u3564-3">RH&amp;RH makes no representations or warranties of any kind, express or implied, as to the operation of the site, the information, content, materials or products included on this site. RH&amp;RH will not be liable for any damages arising from use of this site. Ultimately, all readings and advice arising from use of this site are understood to be for&nbsp; entertainment purposes only.</span></p>
     </div>
    </div>
    <div class="verticalspacer"></div>
   </div>
  </div>
  
    <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="/assets/scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="/assets/scripts/museutils.js?117816282" type="text/javascript"></script>
  <script src="/assets/scripts/jquery.scrolleffects.js?3963828924" type="text/javascript"></script>
  <script src="/assets/scripts/jquery.watch.js?4199601726" type="text/javascript"></script>
  
  
	  <script type="text/javascript">
   $(document).ready(function() { try {
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
$('.html').registerBackgroundPositionScrollEffect([{"in":[-Infinity,0],"speed":[0,1]},{"in":[0,Infinity],"speed":[0,1]}]);/* scroll effect */
$('#u2918').registerPositionScrollEffect([{"in":[-Infinity,762],"speed":[2.09,-1.08]},{"in":[762,Infinity],"speed":[0,-0.15]}]);/* scroll effect */
$('#u2918').registerOpacityScrollEffect([{"fade":319.8,"opacity":0,"in":[-Infinity,762]},{"in":[762,762],"opacity":100},{"fade":932,"opacity":0,"in":[762,Infinity]}]);/* scroll effect */
$('#u2852').registerPositionScrollEffect([{"in":[-Infinity,19],"speed":[0,1]},{"in":[19,Infinity],"speed":[-0.07,0.1]}]);/* scroll effect */
$('#u2852').registerOpacityScrollEffect([{"fade":593,"opacity":100,"in":[-Infinity,19]},{"in":[19,19],"opacity":100},{"fade":43,"opacity":100,"in":[19,Infinity]}]);/* scroll effect */
$('#u1746').registerPositionScrollEffect([{"in":[-Infinity,-113.19],"speed":[0,1]},{"in":[-113.19,Infinity],"speed":[0,1]}]);/* scroll effect */
$('#u2830').registerPositionScrollEffect([{"in":[-Infinity,19],"speed":[0,1]},{"in":[19,Infinity],"speed":[0.1,0.1]}]);/* scroll effect */
$('#u2830').registerOpacityScrollEffect([{"fade":50,"opacity":100,"in":[-Infinity,19]},{"in":[19,19],"opacity":100},{"fade":50,"opacity":100,"in":[19,Infinity]}]);/* scroll effect */
$('#u2924').registerPositionScrollEffect([{"in":[-Infinity,759.6],"speed":[-2.2,1]},{"in":[759.6,Infinity],"speed":[0,0.25]}]);/* scroll effect */
$('#u2924').registerOpacityScrollEffect([{"fade":319.4,"opacity":0,"in":[-Infinity,759.6]},{"in":[759.6,759.6],"opacity":100},{"fade":1032.4,"opacity":23,"in":[759.6,Infinity]}]);/* scroll effect */
$('#u2822').registerOpacityScrollEffect([{"fade":302.46,"opacity":67,"in":[-Infinity,1584.1]},{"in":[1584.1,1584.1],"opacity":85},{"fade":500,"opacity":90,"in":[1584.1,Infinity]}]);/* scroll effect */
$('#u2908').registerPositionScrollEffect([{"in":[-Infinity,808.24],"speed":[0,2]},{"in":[808.24,Infinity],"speed":[0,2]}]);/* scroll effect */
$('#u2915-16').registerPositionScrollEffect([{"in":[-Infinity,807.8],"speed":[0,2]},{"in":[807.8,Infinity],"speed":[0,2]}]);/* scroll effect */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { Muse.Assert.fail('Error calling selector function:' + e); }});
</script> 


<!--
<h1>Food ForGive</h1>

<p id="notice"><%= notice %></p>

  <div id="magic_form">
  	
  <%= render '/confessions/form' %>
  	

  </div>
  
  <div id="magic-reponse">
  </div>
	
<%=render '/payments/form', :@payment => Payment.new %>

<div id="payment-response">
	</div>
	
	---> 



