
<img src="/assets/cherub2_lg.png" class="about_cherub_m">
<img src="/assets/cherub1_lg.png" class="about_cherub_m_left">

<div class="wrapper_m">



<div id="outer_confessions_m" class="face_m">
	
<div id="head_m">
	<a href="http://www.foodforgive.com">Food <br> Forgive</a>
</div>

	
        <div id="mobile_form">	
        
       
            	
	    <%= form_for(@confession, remote: true, :html => {:id => "form_bg_m"}) do |f| %>
 	 	<% if @confession.errors.any? %>
   	 	<div id="error_explanation">
      	<h2><%= pluralize(@confession.errors.count, "error") %> - Sorry!  This made the confession not record.  The Food ForGive team will be right on it, so come back soon!</h2>

     	 <ul>
      	<% @confession.errors.full_messages.each do |msg| %>
      	  <li><%= msg %></li>
      	<% end %>
     	 </ul>
    	</div>
  		<% end %>
		
	     
	   
	 
	     
	     <div id="magic-response">
	     	

	     
	     <div id="confess_field" class="field"> <%= f.text_field :confession_text, 	     						

	     						:value => "", 
	     						:placeholder => "Please type your food confession here...",
	     						:style => "text-align: Center",
	     						:id => "confess_text_field_m"  %> </div>
	     <br>

	     <%= f.submit "Forgive Yourself", :id => "confess_submit_m" %>
	      
	      
	     </div>
	    
	     <br>
	     
	     <div id="magic-fail"></div> 
	  
	     	      	   

     <% end %>
     
          <ul class="social">
            			<li><a href="http://www.facebook.com/foodforgive" title="Find Food ForGive on Facebook" class="facebook"><span>Facebook</span></a></li>
            			<li><a href="http://www.twitter.com/foodforgive" title="Follow ForGive on Twitter" class="twitter"><span>Twitter</span></a></li>
            			<li><a href="http://www.pinterest.com/foodforgive" title="Visit the Food ForGive Pinterest Board" class="pinterest"><span>Pinterest</span></a></li>
          </ul>
     
     </div>

                    
               
            		


<section class="info_m">
	<!--><section class="layer">
	
	<span class="limiter doubleblock1_m">
						
							<p class="section_head_m">Giving is part of ForGiving.</p>
							<p class="about_body_m">Food ForGive can forgive any kind of food transgressions, lapses in judgment, or moments of bacchanalian food insanity. Our Confession Cherubs<sub>&trade;</sub> lift your confessions to the Divine and offer encouragement so that you can declare, &quot;I'm moving on, mmm--kay.&quot;</p>
							<p class="about_body_m">In the near future, Food ForGive hopes to provide options for you to donate a few dollars to a local food bank. The ultimate, morale-boosting goal of Food ForGive is not only to provide food forgiveness, but also to provide food for give to people and kids in need. Can we get two snaps and a hey?</p>
							<p class="about_body_m">Thank you. Peace! And Love.</p>
						
	          <span id="spacer_m"></span>

<!--
				<ul class="social">
					<li><a href="http://www.facebook.com/foodforgive" title="Find Food ForGive on Facebook" class="facebook"><span>Facebook</span></a></li>
					<li><a href="http://www.twitter.com/foodforgive" title="Follow ForGive on Twitter" class="twitter"><span>Twitter</span></a></li>
					<li><a href="http://www.pinterest.com/foodforgive" title="Visit the Food ForGive Pinterest Board" class="pinterest"><span>Pinterest</span></a></li>
					<li><a href="" title="Join the Food ForGive Google+ Circle" class="google"><span>Google+</span></a></li>
				</ul>
				
-->				
		  
		     
		     </span>
		     </section>

</section>

<section class="m_section_bg_2">

<a name="email_form"></a>

            <p class="section_head_m_2">You are Super Fun <br>for scrolling all the way down here.</p>
            <p class="about_body_m_2">Because giving is forgiving, Food ForGive hopes to partner with a food bank so that you can have the option of donating a few dollars after your confession. Let's keep in touch because we want you to help us celebrate when that happens &ndash; and no, we're not going to give away your private info because that's no fun at all. Two snaps and a hey. See you soon!</p>
           
               <%=render '/payments/form', :@payment => Payment.new %>

<div id="payment-text">	
<div id="payment-response">
	</div>
	</div>
		

		<ul class="social">
            <li><a href="http://www.facebook.com/foodforgive" title="Find Food ForGive on Facebook" class="facebook"><span>Facebook</span></a></li>
            <li><a href="http://www.twitter.com/foodforgive" title="Follow ForGive on Twitter" class="twitter"><span>Twitter</span></a></li>
            <li><a href="http://www.pinterest.com/foodforgive" title="Visit the Food ForGive Pinterest Board" class="pinterest"><span>Pinterest</span></a></li>
        </ul>

</div>

</section>

<footer>
        
        
        <%= link_to '<h3>RH&amp;RH</h3>' .html_safe, about_path %>
        <div>
            <h4>Trademarks</h4>
            <p>Food Forgive are trademarks owned by RH&amp;RH. Such trademarks may not be used in connection with any products or services that are not controlled by RH&amp;RH, or in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits RH&amp;RH or FoodForGive.com.</p>
        </div>
        <div>
            <h4>Liability Disclaimer</h4>
            <p>RH&amp;RH makes no representations or warranties of any kind, express or implied, as to the operation of the site, the information, content, materials or products included on this site. RH&amp;RH will not be liable for any damages arising from use of this site. Ultimately, all readings and advice arising from use of this site are understood to be for entertainment purposes only.</p>
			
        </div>
        <br class="clear" />
	
</footer>

</div><!-- /.wrapper -->












