	  
	  <img src="/assets/purplecherub12-u2852.png" style="opacity: 1;">
	  
	    <%= form_for(@confession, remote: true) do |f| %>
 	 	<% if @confession.errors.any? %>
   	 	<div id="error_explanation">
      	<h2><%= pluralize(@confession.errors.count, "error") %> - Sorry!  This made the confession not record.  The Food ForGive team will be right on it, so come back soon!</h2>

     	 <ul>
      	<% @confession.errors.full_messages.each do |msg| %>
      	  <li><%= msg %></li>
      	<% end %>
     	 </ul>
    	</div>
  		<% end %>
  		
	     
	   

	     
	     <div id="magic-response">
	     	

	     	
	     <!--<p id="tiny-response">What do you feel guilty for eating? Come on, it's ok...</p> <br>-->

	     <div id="confess_field" class="field"> <%= f.text_field :confession_text, 	     						

	     						:value => "", 
	     						:placeholder => "Please enter a food confession...",
	     						:id => "confess_text_field"  %> </div>
	     <br>

         <div class="actions", id="submit_confession">
	     <%= f.submit "Forgive Yourself", :id => "confess_submit" %>
	     </div>
	       
	     </div>
	    
	     <br>
	     <div id="magic-fail"></div> 
	     
	
	     	      	
	 
     <% end %>



     	<p>Giving is part of ForGiving.</p><br>
     	<p>Food ForGive can forgive any kind of food transgressions, lapses in judgment, or moments of bacchanalian food insanity. Our Confession Cherubs<span id="tm_span">TM</span> lift your confessions to the Divine who, in turn, offers encouragement so that you can declare,"I'm moving on -- mmmkay."
        </p><br>
        <p>In the near future, Food ForGive hopes to provide options for you to donate a few dollars to a local food bank. The ultimate, morale-boosting goal of Food ForGive is not only to provide food forgiveness, but also to provide food for give to people and hungry kids in need. Can we get two snaps and a hey?
        </p><br>
        <p>Thank you. Peace! And Love.</p>
   
   
   
   
<p>You are Super Fun for scrolling all the way down here.</p>

<p>Because giving is forgiving, Food ForGive hopes to partner with a food bank so that you can have the option of donating a few dollars after your confession. Let’s keep in touch because we want you to help us celebrate when that happens – and no, we’re not going to give away your private info because that’s no fun at all. Two snaps and a hey. See you soon!</p>
   

<%=render '/payments/form', :@payment => Payment.new %>

<div id="payment-response">
	</div>
     
     

 
      <p>TRADEMARKS</p>
      <p>Food Forgive are trademarks owned by RH&amp;RH. Such trademarks may not be used in connection with any products or services that are not controlled by RH&amp;RH, or in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits RH&amp;RH or FoodForGive.com.</p>
     

      <p>LIABILITY DISCLAIMER</p>
      <p><span id="u3564-3">RH&amp;RH makes no representations or warranties of any kind, express or implied, as to the operation of the site, the information, content, materials or products included on this site. RH&amp;RH will not be liable for any damages arising from use of this site. Ultimately, all readings and advice arising from use of this site are understood to be for&nbsp; entertainment purposes only.</span></p>

  
    <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="/assets/scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="/assets/scripts/museutils.js?117816282" type="text/javascript"></script>
  <script src="/assets/scripts/jquery.scrolleffects.js?3963828924" type="text/javascript"></script>
  <script src="/assets/scripts/jquery.watch.js?4199601726" type="text/javascript"></script>
  
  


